In [2]:
import pandas as pd
import time

In [17]:
# Sample data
data = {
    'player_id': [1, 1, 2, 3, 3, 1, 2, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7, 8, 8, 8],
    'device_id': [2, 2, 3, 1, 4, 5, 3, 3, 1, 6, 6, 7, 9, 9, 9, 10, 10, 11, 11, 11],
    'event_date': [
        '2016-03-01', '2016-05-02', '2017-06-25', '2016-03-02', '2018-07-03', 
        '2016-01-15', '2017-07-09', '2017-06-23', '2016-02-29', '2017-08-01', 
        '2017-08-15', '2017-09-01', '2017-10-10', '2017-12-25', '2017-10-09', 
        '2018-01-01', '2017-12-31', '2018-02-01', '2018-02-15', '2018-01-15'
    ],
    'games_played': [5, 6, 1, 0, 5, 8, 2, 3, 7, 1, 2, 4, 6, 3, 5, 2, 4, 1, 3, 2]
}

activity = pd.DataFrame(data)

In [15]:
def date_using_aggregate(df):
    start_time = time.time()
    df = df.groupby('player_id', as_index=False)['event_date'].min()
    df.rename(columns={'event_date': 'first_login'}, inplace=True)
    end_time = time.time()
    elapsed_time = end_time - start_time
    print(f"Function took {elapsed_time:.10f} seconds")
    return df

In [18]:
date_using_aggregate(activity)

Function took 0.0010991096 seconds

   player_id first_login
0          1  2016-01-15
1          2  2017-06-23
2          3  2016-02-29
3          4  2017-08-01
4          5  2017-09-01
5          6  2017-10-09
6          7  2017-12-31
7          8  2018-01-15

In [23]:
def sort_and_drop_duplicates(df):
    start_time = time.time()
    df = df[['player_id', 'event_date']]
    df = df.sort_values('event_date', ascending=True).drop_duplicates(subset='player_id', keep='first')
    df.rename(columns={'event_date': 'first_login'}, inplace=True)
    end_time = time.time()
    elapsed_time = end_time - start_time
    print(f"Function took {elapsed_time:.10f} seconds")
    return df

In [24]:
sort_and_drop_duplicates(activity)

Function took 0.0010390282 seconds

    player_id first_login
5           1  2016-01-15
8           3  2016-02-29
7           2  2017-06-23
9           4  2017-08-01
11          5  2017-09-01
14          6  2017-10-09
16          7  2017-12-31
19          8  2018-01-15